<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/info/' %} active {% endif %}"><a href="{{ "/info/" | absolute_url }}">Info</a></li>
  <li class="{% if page.url contains '/projects/' %} active {% endif %}"><a href="{{ "/projects/" | absolute_url }}">Projects</a></li>
  <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Elements Reference</a></li>
  <li><a href="/Resume.pdf" target="_blank">Resume</a></li>
  <li><a href="http://juzerzarif.com/stephenson-website" target="_blank">Stephenson Website</a></li>
</ul>
